nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;

}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.nav-portfolio {
    olor: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.single-letter {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 50px;
    list-style: none;

}

nav a {
    text-decoration: none;

}

.buttton-clr {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    border: 0;
    color: white;
    font-weight: 700;
    padding: 10px
}

.header {
    background: #FFF8F3;
}

.banner {
    margin: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}

.profile {
    height: 500px;
}

.banner-greeting {
    color: #474747;

    font-size: 45px;
    margin-bottom: 0;

}

.banner-tittle {
    color: #181818;
    font-family: Open Sans;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner-des {
    margin-bottom: 10px;
}

.section-tittle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 130px;
}

.section-des {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.about {
    max-width: 1140px;
    text-align: center;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 10px auto;
    padding: 30px 150px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

#what-i-do-des {
    padding: 30px 150px;
    margin: 5px 230px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 250px;
    height: 250px;
    margin-right: 10PX;
    padding-top: 20px;
}

.resume-item {
    color: #474747;
    font-size: 30px;

    font-weight: 700;
}

.resume-container {
    display: flex;
}

.resume-section {
    background: #FFF;

    margin: 10px 300px;



}

.resume-container {
    margin-right: 20px;
}

hr {
    margin-right: 50px;
}

.resume-items {
    margin-bottom: 10px;
    padding: 10px;
}

.download-cv {
    text-align: center;
}